rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /floorPlans/{planId} {
      allow read, write: if true;
    }
  }
}
